html {
  scroll-behavior: smooth;
}

.core-container {
  display: flex;
  flex-direction: column;

  max-width: 1440px;
  margin: 0 auto;
  padding: 0 58px;
}

.section-separator {
  width: 100%;
  height: 1px;
  margin: 43px 0;
  background-color: var(--dark-gray);
}

.white-text {
  color: var(--white);
}

.dark-gray-text {
  color: var(--dark-gray);
}
