html {
  scroll-behavior: smooth;
}

section[id] {
  scroll-margin-top: 110px;
}

.core-container {
  display: flex;
  flex-direction: column;

  max-width: 1720px;
  margin: 0 auto;
  padding: 0 58px;

  @media (width <= 830px) {
    padding: 0 31px;
  }
}

.section-separator {
  width: 100%;
  height: 1px;
  margin: 43px 0;
  background-color: var(--dark-gray);

  @media (width <= 830px) {
    margin: 32px 0;
  }
}

.section-separator:first-of-type {
  margin-top: 20px;
}

.white-text {
  color: var(--white);
}

.dark-gray-text {
  color: var(--dark-gray);
}

.banner-button-invert {
  display: none;
  margin-top: 25px;

  @media (width <= 1390px) {
    display: flex;
  }
}

.banner-button {
  display: flex;
  align-items: center;
  margin-right: 56px;

  @media (width <= 1390px) {
    display: none;
  }
}

.banner-button-arrow {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 57px;
  height: 57px;
  border-radius: 50%;

  background-color: var(--white);

  transition: background-color 0.3s ease;
}

.banner-button-invert > .banner-button-arrow {
  background-color: var(--dark-gray);
}

.banner-button-text {
  padding: 14.5px 28px;
  border-radius: 100px;

  font: var(--fb-xxl);
  color: var(--dark-gray);

  background-color: var(--white);

  transition:
    background-color 0.3s ease,
    color 0.3s ease;

  @media (width <= 830px) {
    width: calc(100% - 57px);
    padding: 14.5px 24.5px;
  }
}

.banner-button-invert > .banner-button-text {
  color: var(--white);
  background-color: var(--dark-gray);
}

.banner-button-arrow > svg > path {
  stroke: var(--dark-gray);
  transition: stroke 0.3s ease;
}

.banner-button-invert > .banner-button-arrow > svg > path {
  stroke: var(--white);
  transition: stroke 0.3s ease;
}

.banner-button:hover .banner-button-text,
.banner-button:focus .banner-button-text,
.banner-button:active .banner-button-text,
.banner-button-invert:hover .banner-button-text,
.banner-button-invert:focus .banner-button-text,
.banner-button-invert:active .banner-button-text {
  color: var(--white);
  background-color: var(--orange);
}

.banner-button:hover .banner-button-arrow,
.banner-button:focus .banner-button-arrow,
.banner-button:active .banner-button-arrow,
.banner-button-invert:hover .banner-button-arrow,
.banner-button-invert:focus .banner-button-arrow,
.banner-button-invert:active .banner-button-arrow {
  background-color: var(--orange);
}

.banner-button:hover .banner-button-arrow > svg > path,
.banner-button:focus .banner-button-arrow > svg > path,
.banner-button:active .banner-button-arrow > svg > path {
  stroke: var(--white);
}

.swiper-pagination-bullet {
  opacity: 1 !important;
  background: var(--light-gray) !important;
}

.swiper-pagination-bullet-active {
  background: var(--dark-gray) !important;
}

.stop-scroll {
  overflow: hidden;
}
