.hero {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding-top: 120px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: 29px;

  margin-bottom: 20px;
  padding: 60px 55px;
  border-radius: 30px;

  background-image: url("../assets/img/webp/hero-bg.webp");
  background-repeat: no-repeat;
  background-position: center;

  @media (width <= 830px) {
    gap: 0;
    padding: 28px;
  }
}

.hero-title {
  max-width: 760px;
  font: var(--fh-l);
  color: var(--white);

  @media (width <= 830px) {
    margin-bottom: 14px;
    font: var(--fh-ms);
  }
}

.hero-bullets {
  display: flex;
  flex-direction: column;
  gap: 29px;

  @media (width <= 830px) {
    margin-bottom: 60px;
  }
}

.hero-bullet {
  display: flex;
  gap: 18px;
  align-items: center;
}

.bullet-arrow {
  position: relative;

  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 57px;
  height: 57px;
  border-radius: 50%;

  background: rgb(255 255 255 / 5%);
  backdrop-filter: blur(2px);
  box-shadow:
    0 8px 32px rgb(0 0 0 / 10%),
    inset 1px 1px 0 rgb(255 255 255 / 63%),
    inset -1px -1px 0 rgb(255 255 255 / 31%),
    inset 0 0 0 0 rgb(255 255 255 / 0%);

  @media (width <= 830px) {
    display: none;
  }
}

.bullet-text {
  font: var(--fh-xxxs);
  color: var(--white);

  @media (width <= 830px) {
    font: var(--fb-l);
  }
}

.hero-action-btn {
  width: max-content;
  padding: 22.5px 28px;
  border-radius: 100px;

  font: var(--fb-xxl);
  color: var(--dark-gray);

  background-color: var(--white);

  transition:
    background-color 0.3s ease,
    color 0.3s ease;

  &:hover,
  &:active,
  &:focus {
    color: var(--white);
    background-color: var(--orange);
  }

  @media (width <= 830px) {
    padding: 12.5px 64.5px;
    font: var(--fb-m);
  }
}

.hero-slider.swiper {
  width: 100%;
  max-width: 1440px;
}

.hero-slide.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100% !important;
  max-width: 216px !important;

  @media (width <= 830px) {
    max-width: 128px !important;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.hero-slider-wrapper {
  height: 110px !important;

  @media (width <= 830px) {
    height: 65px !important;
  }
}
