.products {
  display: flex;
  flex-direction: column;
}

.products-top {
  display: flex;
  gap: 20px;
  justify-content: space-between;

  @media (width <= 830px) {
    flex-direction: column;
  }
}

.products-text {
  display: flex;
  flex-direction: column;
}

.products-title {
  font: var(--fh-ml);
  color: var(--dark-gray);

  @media (width <= 830px) {
    max-width: 204px;
    margin-bottom: 20px;
    font: var(--fh-xxs);
  }
}

.products-button-mobile {
  display: none;

  @media (width <= 830px) {
    display: flex;
    align-items: center;
    width: 100%;
  }
}

.products-button {
  display: flex;
  align-items: center;

  width: max-content;
  margin-top: auto;
  margin-bottom: 61px;

  @media (width <= 830px) {
    display: none;
  }
}

.products-button-arrow {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 57px;
  height: 57px;
  border-radius: 50%;

  background-color: var(--dark-gray);

  transition: background-color 0.3s ease;
}

.products-button-arrow > svg > path {
  stroke: var(--white);
  transition: stroke 0.3s ease;
}

.products-button-text {
  padding: 14.5px 28px;
  border-radius: 100px;

  font: var(--fb-xxl);
  color: var(--white);

  background-color: var(--dark-gray);

  transition:
    background-color 0.3s ease,
    color 0.3s ease;

  @media (width <= 830px) {
    padding: 14.5px 61px;
  }
}

.products-swiper-button-next.swiper-button-next > svg > path,
.products-swiper-button-prev.swiper-button-prev > svg > path {
  fill: var(--white);
  transition: fill 0.3s ease;
}

.products-swiper-button-next.swiper-button-disabled > svg > path,
.products-swiper-button-prev.swiper-button-disabled > svg > path {
  fill: var(--dark-gray);
}

.products-swiper-button-next:hover.swiper-button-next > svg > path,
.products-swiper-button-prev:hover.swiper-button-prev > svg > path,
.products-swiper-button-next:active.swiper-button-next > svg > path,
.products-swiper-button-prev:active.swiper-button-prev > svg > path {
  fill: var(--white);
}

.products-swiper-button-prev.swiper-button-prev,
.products-swiper-button-next.swiper-button-next {
  position: relative;

  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 41px;
  height: 41px;
  padding: 8px;
  border: 1px solid var(--dark-gray);
  border-radius: 50%;

  background-color: var(--dark-gray);

  transition:
    background-color 0.3s ease,
    border-color 0.3s ease;
}

.products-button:hover .products-button-text,
.products-button:focus .products-button-text,
.products-button:active .products-button-text,
.products-button-mobile:hover .products-button-text,
.products-button-mobile:focus .products-button-text,
.products-button-mobile:active .products-button-text {
  color: var(--white);
  background-color: var(--orange);
}

.products-button:hover .products-button-arrow,
.products-button:focus .products-button-arrow,
.products-button:active .products-button-arrow,
.products-button-mobile:hover .products-button-arrow,
.products-button-mobile:focus .products-button-arrow,
.products-button-mobile:active .products-button-arrow {
  background-color: var(--orange);
}

.products-button:hover .products-button-arrow > svg > path,
.products-button:focus .products-button-arrow > svg > path,
.products-button:active .products-button-arrow > svg > path,
.products-button-mobile:hover .products-button-arrow > svg > path,
.products-button-mobile:focus .products-button-arrow > svg > path,
.products-button-mobile:active .products-button-arrow > svg > path {
  stroke: var(--white);
}

.products-slider.swiper {
  width: 100%;
  max-width: 876px;
  height: max-content;
}

.products-slide.swiper-slide {
  position: relative;

  overflow: hidden;
  display: flex;

  height: 408px;
  border-radius: 30px;

  @media (width <= 830px) {
    height: 346px;
  }
}

.products-slide-shadow {
  position: absolute;
  z-index: -1;
  inset: 0;
  background: linear-gradient(rgb(255 255 255 / 0%) 0%, rgb(0 0 0 / 40%) 100%);
}

.products-slide-img {
  position: absolute;
  z-index: -2;
  inset: 0;

  width: 100%;
  height: 100%;

  object-fit: cover;
}

.products-slide-text {
  margin-top: 321px;
  padding-right: 22px;
  padding-left: 57px;

  font: var(--fb-xxxxl);
  color: var(--white);

  @media (width <= 830px) {
    margin-top: 259px;
    padding-right: 28px;
    padding-left: 28px;
  }
}

.products-slide-arrow {
  position: absolute;
  top: 22px;
  right: 22px;

  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 57px;
  height: 57px;
  border-radius: 50%;

  background: rgb(255 255 255 / 5%);
  backdrop-filter: blur(2px);
  box-shadow:
    0 8px 32px rgb(0 0 0 / 10%),
    inset 1px 1px 0 rgb(255 255 255 / 63%),
    inset -1px -1px 0 rgb(255 255 255 / 31%),
    inset 0 0 0 0 rgb(255 255 255 / 0%);
}

.products-slider-navigation {
  display: flex;
  gap: 16px;

  width: max-content;
  height: 41px;
  margin-top: 20px;
  margin-left: auto;

  @media (width <=1300px) {
    display: none;
  }
}

.products-swiper-button-next:hover.swiper-button-next,
.products-swiper-button-prev:hover.swiper-button-prev,
.products-swiper-button-next:active.swiper-button-next,
.products-swiper-button-prev:active.swiper-button-prev {
  border-color: var(--light-gray);
  background-color: var(--light-gray);
}

.products-swiper-button-next.swiper-button-disabled,
.products-swiper-button-prev.swiper-button-disabled {
  opacity: 1 !important;
  background-color: transparent;
}

.products-banner {
  position: relative;

  display: flex;
  grid-column: 2 span;
  justify-content: space-between;

  margin-top: 84px;
  padding: 30px 56px;
  border-radius: 30px;

  background:
    linear-gradient(rgb(0 0 0 / 10%), rgb(0 0 0 / 10%)),
    url("../assets/img/webp/products-banner.webp") left/cover no-repeat;

  @media (width <= 830px) {
    padding: 27px 28px;
  }
}

.products-banner-text {
  font: var(--fh-m);
  color: var(--white);

  @media (width <= 830px) {
    font: var(--fh-xs);
  }
}

.products-slider-pagination {
  display: none;

  @media (width <=1300px) {
    display: flex;
    gap: 6px;
    justify-content: center;

    width: max-content;
    margin-top: 28px;
    margin-bottom: 14px;
  }
}

.products-slider-pagination.swiper-pagination {
  position: relative;
}
